{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block css %}
{{ block.super }}
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block breadcrumb %}
Gestion de Proveedores
{% endblock %}
{% block section_title %}{{ section_title }}{% endblock %}
{% block section_subtitle %}Diligencie los datos del siguiente formulario{% endblock %}

{% block content %}
            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-md-12">
                  <form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Proveedor</h4>
                        </div>
                        <div class="panel-body">
                            <div id="wizard">
                                <ol>
                                    <li>
                                        Informaciín del Motocicleta
                                        <small>Diligencie la información de la nueva motocicleta.</small>
                                    </li>
                                </ol>
                                <!-- begin wizard step-1 -->
                                <div>
                                    <fieldset>
                                      <!-- begin row -->
                                      <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            {% bootstrap_form form %}
                                            <div class="pull-right" >
                                              <button type="submit" class="btn btn-success"><i class="fa fa-cog"></i> Guardar</button>
                                            </div>
                                        </div>
                                      </div>
                                      <!-- end row -->
                                    </fieldset>
                                </div>
                                <!-- end wizard step-1 -->
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                  </form>
                </div>
                <!-- end col-12 -->
            </div>

{% endblock %}

{% block javascript %}
{{ block.super }}
    <script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/form-wizards.demo.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            FormWizard.init();
        });
    </script>
{% endblock %}
