 {% extends "base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super }}
    <link href="{% static 'color_admin/assets/css/invoice-print.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block section_title %} {% endblock %}
{% block section_subtitle %}{% endblock %}
{% block content %}
            <!-- begin invoice -->

            <div class="invoice">
                    <img src="{{ MEDIA_URL }}imagenes/logo/logo.png" class="img-circle" align="left">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="javascript:;" onclick="window.history.back()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-arrow-circle-left"></i> Volver</a>
                    <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Print</a>
                 </span>
                    <div ALIGN=center> <strong>COTIZACIÓN DE TU PRÓXIMA MOTOCICLETA</strong> </div></br>

                </div>

                    <div  class="invoice-from">
                        <address class="m-t-5 m-b-5">
                            <strong>{{ user.empleado.sucursal.nombre }}, Inc.</strong><br />
                            {{ user.empleado.sucursal.direccion }}<br />
                            {{ user.empleado.sucursal.ciudad }}<br />
                            Telefono: (032) {{ user.empleado.sucursal.telefono }}<br />
                        </address>
                    </div>
                    <div class="invoice-to">
                        <small></small>
                        <address class="m-t-5 m-b-5">

                            <strong>Señor(a):
                            </strong><br />
                            {{ cotizacion.cliente.nombre }} {{ cotizacion.cliente.apellido }}<br />
                            Telefono: (032) {{ cotizacion.cliente.telefono }}<br />
                            Celular: {{ cotizacion.cliente.celular }}
                        </address>

                    </div>
                    <div class="invoice-to">
                          <strong>  Cotización: {{ cotizacion.id }}</strong><br />
                            Fecha De Emisión:<br />{% now 'SHORT_DATE_FORMAT' %}<br />
                             Vigente hasta:  <br />
                             {{ cotizacion.fecha_vencimiento}}

                    </div><br></br>
                    <hr style="color: #0056b2;" />

                     <div class="invoice" align="center" >
                         <img src={{ cotizacion.motocicleta.imagen.url }} alt="" WIDTH=400 HEIGHT=200 />
                          </div>


                            <div class="row">
                               <div class="table-responsive" align="center">

                                         <table class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                    <th>MOTOCICLETA</th>
                                    <th>MODELO</th>
                                    <th>PRECIO</th>
                                    <th>POTENCIA</th>
                                    <th>MOTOR</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><small> {{ cotizacion.motocicleta.marca }}</small></td>
                                    <td> {{cotizacion.motocicleta.modelo}}</td>
                                    <td>${{ cotizacion.motocicleta.precio}}</td>
                                    <td>{{ cotizacion.motocicleta.potencia}}</td>
                                    <td>{{ cotizacion.motocicleta.motor}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <div><strong>Notas:</strong> Precios, condiciones de pago y especificaciones técnicas sujetas a cambios sin previo aviso. Disponibilidad sujeta a USM.</div>
                    <div aling="justify"> USM, concesionario líder en el Sur Occidente Colombiano que cuenta con el más completo portafolio de Autos en todas las marcas.
                    </br>Los invitamos a vivir una verdadera experiencia disfrutando de la comodidad, desempeño y tecnología de nuestros vehículo.Agende ya su cita.</div>

                <div class="invoice-footer text-muted">
                    <p class="text-center m-b-5">
                       Sistema de Gestion de Inventario Automotriz
                    </p>
                    <p class="text-center">
                        <span class="m-r-10"><i class="fa fa-globe"></i> www.SIGIA.com</span>
                        <span class="m-r-10"><i class="fa fa-phone"></i> T:(032){{ user.empleado.sucursal.telefono }}</span>
                        <span class="m-r-10"><i class="fa fa-envelope"></i> {{ user.email }}</span>
                    </p>
                </div>
            </div>
             </div>
            <!-- end invoice -->
{% endblock %}
{% block javascript %}
{{ block.super }}
{% endblock %}
