{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
    <link href="{% static 'color_admin/assets/plugins/DataTables-1.9.4/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}
{% block breadcrumb %}
Gestion de Cotizaciones
{% endblock %}
{% block section_title %}{% endblock %}
{% block section_subtitle %}Seleccione la cotización que desea editar{% endblock %}
{% block content %}
                <!-- begin col-12 -->
                <div class="col-md-12">
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Cotizaciones</h4>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        <th>Número de Cotización</th>
                                        <th>Cliente</th>
                                        <th>Motocicleta</th>
                                        <th>Fecha</th>
                                        <th>Fecha Vencimiento</th>
                                        <th>Forma Pago</th>
                                        <th>Vendedor</th>
                                         </tr>
                                    </thead>
                                     <tbody>
                            {% if lista_cotizaciones %}
                            {% for cotizacion  in lista_cotizaciones %}
                                <tr>
                                     <td><a href="{% url 'cotizacion:pdf' cotizacion.pk %}">{{ cotizacion.pk }}</td>
                                    <td>{{ cotizacion.cliente}}</td>
                                    <td>{{ cotizacion.motocicleta }}</td>
                                    <td>{{ cotizacion.fecha }}</td>
                                    <td>{{ cotizacion.fecha_vencimiento }}</td>
                                    <td>{{ cotizacion.forma_pago }}</td>
                                    <td>{{ cotizacion.empleado }}</td>

                            {% endfor %}
                        {% else %}
                            <p><h2>No hay Cotizaciones Realizadas.</h2></p>
                    {% endif %}
                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
{% endblock %}

{% block javascript %}
{{ block.super }}

    <!-- ================== BEGIN PAGE LEVEL JS TABLE ================== -->
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/inbox.demo.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

{% endblock %}