{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
    <link href="{% static 'color_admin/assets/plugins/DataTables-1.9.4/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}

{% block breadcrumb %}
Gestión Ordenes de Trabajo
{% endblock %}
{% block section_title %}{{ section_title }}{% endblock %}
{% block section_subtitle %}Diligencie el siguiente formulario{% endblock %}
{% block content %}
			    <!-- begin col-12 -->
			    <div class="col-md-12">
			    	<form method="POST" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
			        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Orden de Trabajo</h4>
                        </div>
                        <div class="panel-body">
                        	<div id="wizard">
								<ol>
									<li id="step-1" >
									    Cliente
									    <small>Seleccione el cliente para la orden de trabajo</small>
									</li>
									<li id="step-2" >
									    Motocicleta
									    <small>Seleccione el motocicleta para la orden de trabajo.</small>
									</li>
									<li id="step-3" >
									    Orden de Trabajo
									    <small>Complete el formulario de orden de trabao.</small>
									</li>
								</ol>
								<!-- begin wizard step-1 -->
								<div>
                                    <fieldset>
                                        <!-- begin row -->
                                        <div class="row">
                                            {% include 'orden_de_trabajo/includes/tabla_clientes.html' %}
                                        </div>
                                        <!-- end row -->
									</fieldset>
								</div>
								<!-- end wizard step-1 -->
								<!-- begin wizard step-2 -->
								<div>
									<fieldset>
										<!-- begin row -->
                                        <div class="row">
                                            	{% include 'orden_de_trabajo/includes/tabla_vehiculos.html' %}
                                        </div>
                                        <!-- end row -->
									</fieldset>
								</div>
								<!-- end wizard step-2 -->
								<!-- begin wizard step-3 -->
								<div>
									<fieldset>
										<!-- begin row -->
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                {% bootstrap_form form %}
                                                <div class="pull-right" >
                                                    <button type="submit" class="btn btn-sm btn-inverse"><i class="fa fa-cog"></i> Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </fieldset>
								</div>
								<!-- end wizard step-3 -->
				            </div>

                        </div>
                    </div>
                    <!-- end panel -->
                    </form>
                </div>
                <!-- end col-12 -->
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>
<script>
    $(document).ready(function() {
        FormWizardValidation.init();
        $('.table').DataTable();
        {# If the form has errors, the step 3 wizard is showed #}
        {% if form.is_bound and not form.is_valid  %}
            $( "#step-3" ).click();
        {% endif %}
    });
</script>
<script type="text/javascript">
    $( ".vehiculo" ).click(function(event){
        event.preventDefault();
        var clickedVehicleId = $(this).attr('href').split("/")[2];
        $( "#id_vehiculo" ).val(clickedVehicleId);
        $( ".next" ).click();
    });
    $( ".cliente" ).click(function(event){
        event.preventDefault();
        var clickedVehicleId = $(this).attr('href').split("/")[2];
        $( "#id_cliente" ).val(clickedVehicleId);
        $( ".next" ).click();
    });
</script>
{% endblock %}