{% extends "base_login.html" %}
{% load staticfiles %}
        {% block content %}
        <div class="login-cover">
            <div class="login-cover-image"><img src="{% static 'color_admin/assets/img/login-bg/casco-de-motocicletas-9040.jpg' %}" data-id="login-cover-image" alt="" /></div>
            <div class="login-cover-bg"></div>
        </div>
        <!-- begin #page-container -->
        <div id="page-container" class="fade">
            <!-- begin login -->
            <div class="login login-v2" data-pageload-addclass="animated flipInX">
                <!-- begin brand -->
                <div class="login-header">
                    <div class="brand">
                        <span class="logo"></span> USMOTOS
                        <small>Sistema de Venta de Motocicletas</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-laptop"></i>
                    </div>
                </div>
                <!-- end brand -->
                <div class="login-content">

                    <!-- LOGIN FORM -->
                    <form action="{% url 'inicio:login' %}" method="POST" class="margin-bottom-0">{% csrf_token %}
                        <div class="form-group m-b-20">
                            <input name="username" type="text" class="form-control input-lg" placeholder="Nombre de usuario" />
                        </div>
                        <div class="form-group m-b-20">
                            <input name="password" type="password" class="form-control input-lg" placeholder="Contraseña" />
                        </div>
                        <div class="m-t-20">
                            <label>
                                {% if message %}
                                    <p class="text-warning">{{ message }}</p>
                                {% endif %}
                            </label>
                        </div>
                        <div class="login-buttons">
                            <button type="submit" class="btn btn-success btn-block btn-lg">Iniciar</button>
                        </div>
                        <div class="m-t-20">
                            Olvidaste tu contraseña? Click <a href="">aqui</a> para recuperar.
                        </div>
                    </form>


                </div>
            </div>
            <!-- end login -->

            <ul class="login-bg-list">
                <li><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-1.jpg' %}" alt="" /></a></li>
                <li><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-2.jpg' %}" alt="" /></a></li>
                <li><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-3.jpg' %}" alt="" /></a></li>
                <li><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-4.jpg' %}" alt="" /></a></li>
                <li><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-5.jpg' %}" alt="" /></a></li>
                <li><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-6.jpg' %}" alt="" /></a></li>
                <li class="active"><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/casco-de-motocicletas-9040.jpg' %}" alt="" /></a></li>
            </ul>
        </div>
        <!-- end page container -->
        {% endblock %}


