{% extends "base_login.html" %}
{% load staticfiles %}
{% load i18n %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!-- css auxiliar -->
{% block custom-css %}
{% endblock %}

{% block content %}
        <div class="login-cover">
            <div class="login-cover-image"><img src="{% static 'color_admin/assets/img/login-bg/bg-1.jpg' %}" data-id="login-cover-image" alt="" /></div>
            <div class="login-cover-bg"></div>
        </div>
        <!-- begin #page-container -->
        <div id="page-container" class="fade">
            <!-- begin login -->
            <div class="login login-v2" data-pageload-addclass="animated flipInX">
                <!-- begin brand -->
                <div class="login-header">
                    <div class="brand">
                        <span class="logo"></span> USMOTOS
                        <small>Sistema de Venta de Motocicletas</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-sign-in"></i>
                    </div>
                </div>
                <!-- end brand -->
                <div class="login-content">
                    <!-- LOGIN FORM -->
                    <form action="{% url 'inicio:recuperar_login_terminado' %}" method="POST" class="margin-bottom-0">{% csrf_token %}
                        <div class="form-group m-b-20">
                             <label>
                                <p class="text-info">
                                Por favor, digite una nueva contraseña valida
                                </p>
                            </label>
                        </div>
                        {% if validlink %}

                            {% bootstrap_form form %}

                        {% else %}

                        <p>
                            El link para recuperar la cuenta es invalido, posiblemente ya ha sido usado.
                            Por favor vuelva a solicitar la recuperacion de su cuenta
                        </p>

                        {% endif %}

                        <div class="login-buttons">
                            <button type="submit" class="btn btn-success btn-block btn-lg">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end login -->

            <ul class="login-bg-list">
                <li class="active"><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-1.jpg' %}" alt="" /></a></li>
                <li><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-2.jpg' %}" alt="" /></a></li>
                <li><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-3.jpg' %}" alt="" /></a></li>
                <li><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-4.jpg' %}" alt="" /></a></li>
                <li><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-5.jpg' %}" alt="" /></a></li>
                <li><a href="#" data-click="change-bg"><img src="{% static 'color_admin/assets/img/login-bg/bg-6.jpg' %}" alt="" /></a></li>
            </ul>

            <!-- begin theme-panel -->
            <div class="theme-panel">
                <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
                <div class="theme-panel-content">
                    <h5 class="m-t-0">Color Theme</h5>
                    <ul class="theme-list clearfix">
                        <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                        <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                        <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                        <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                        <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                        <li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                    </ul>
                    <div class="divider"></div>
                    <div class="row m-t-10">
                        <div class="col-md-5 control-label double-line">Header Styling</div>
                        <div class="col-md-7">
                            <select name="header-styling" class="form-control input-sm">
                                <option value="1">default</option>
                                <option value="2">inverse</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-5 control-label">Header</div>
                        <div class="col-md-7">
                            <select name="header-fixed" class="form-control input-sm">
                                <option value="1">fixed</option>
                                <option value="2">default</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-5 control-label double-line">Sidebar Styling</div>
                        <div class="col-md-7">
                            <select name="sidebar-styling" class="form-control input-sm">
                                <option value="1">default</option>
                                <option value="2">grid</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-5 control-label">Sidebar</div>
                        <div class="col-md-7">
                            <select name="sidebar-fixed" class="form-control input-sm">
                                <option value="1">fixed</option>
                                <option value="2">default</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end theme-panel -->
        </div>
        <!-- end page container -->
{% endblock %}
