 {% extends "base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
    <link href="{% static 'color_admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" />
    <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
    <link href="{% static 'color_admin/assets/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />
{% endblock %}

{% block breadcrumb %}{% endblock %}
{% block section_title %}Panel Principal{% endblock %}
{% block section_subtitle %} Estadisticas recientes de tu desempeño{% endblock %}
{% block content %}
            <!-- begin row -->
          <div class="row">
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-stats bg-green">
                        <div class="stats-icon"><i class="fa fa-shopping-cart m-r-5"></i></div>
                        <div class="stats-info">
                            <h4>CANTIDAD DE VENTAS</h4>
                            <p> {{cantidadVentas}}</p>
                        </div>
                        <div class="stats-link">

                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-stats bg-blue">
                        <div class="stats-icon"><i class="fa fa-file"></i></div>
                        <div class="stats-info">
                            <h4>CANTIDAD DE COTIZACIONES</h4>
                            <p>{{numeroCotizaciones}}</p>
                        </div>
                        <div class="stats-link">
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-stats bg-purple">
                        <div class="stats-icon"><i class="fa fa-car"></i></div>
                        <div class="stats-info">
                            <h4>CANTIDAD DE MOTOCICLETAS DISPONIBLES EN ESTA SUCURSAL</h4>
                            <p>{{numeroMotocicletas}}</p>
                        </div>
                        <div class="stats-link">
                        </div>
                    </div>
                </div>

                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-stats bg-red">
                        <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
                        <div class="stats-info">
                            <h4>ULTIMO LOGIN</h4>
                            <p>{{ user.last_login |date:"M d, Y" }}</p>
                        </div>
                        <div class="stats-link">
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->

            <!-- begin row -->
            <div class="row">
                <!-- begin col-8 -->
                <div class="col-md-8">
                    <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile">
                        <li class="active"><a href="#latest-post" data-toggle="tab"><i class="fa fa-users"></i> <span class="hidden-xs"> Ultimas Cotizaciones Realizadas</span></a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="latest-post">
                            <div class="height-sm" data-scrollbar="true">
                                {% if cotizacionesEmpleado %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Motocicleta</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cotizacionesEmpleado in cotizacionesEmpleado %}
                                        <tr>
                                            <td>{{cotizacionesEmpleado.cliente}}</td>
                                            <td>{{ cotizacionesEmpleado.motocicleta }}  </td>
                                            <td>{{ cotizacionesEmpleado.fecha }}</td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end col-8 -->
                <!-- begin col-4 -->
                <div class="col-md-4">


                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Calendar</h4>
                        </div>
                        <div class="panel-body">
                            <div id="datepicker-inline" class="datepicker-full-width"><div></div></div>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
{% endblock %}

{% block javascript %}
{{ block.super }}

    <script src="{% static 'color_admin/assets/plugins/gritter/js/jquery.gritter.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/flot/jquery.flot.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/flot/jquery.flot.time.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/flot/jquery.flot.resize.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/flot/jquery.flot.pie.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/sparkline/jquery.sparkline.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

{% endblock %}