{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL STYLE TABLE================== -->
    <link href="{% static 'color_admin/assets/plugins/DataTables-1.9.4/css/data-table.css' %}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block breadcrumb %}
Sucursal {{ sucursal.nombre }}
{% endblock %}
{% block section_title %}Gestión de Motocicletas{% endblock %}
{% block section_subtitle %}Seleccione un elemento para modificar su información{% endblock %}
{% block content %}
            <!-- begin row -->
            <div class="row">
                <div class="col-md-12">
                    <div id="section-content">
                        {% include 'vehiculo/includes/inventario.html' %}
                    </div>
                    <!-- #modal-dialog -->
                    <div class="modal fade" id="inventory-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="post" action="" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 id="inventory-modal-title" class="modal-title"></h4>
                                    </div>
                                    <div id="inventory-modal-body" class="modal-body">

                                    </div>
                                    <div class="modal-footer">
                                        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cerrar</a>
                                        <button id="submit" type="submit" class="btn btn-sm btn-success">Guardar</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end row -->
{% endblock %}

{% block javascript %}
{{ block.super }}
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/inbox.demo.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/jquery.form.min.js' %}"></script>
    <script src="{% static 'concesionario/assets/js/apps.sucursal.inventario.vehiculo.js' %}"></script>
{% endblock %}
