                                                <div class="panel panel-inverse">
                                                    <div class="panel-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Nº de serie</th>
                                                                        <th>Marca</th>
                                                                        <th>Modelo</th>
                                                                        <th>Motor</th>
                                                                        <th>Potencia</th>
                                                                        <th>Tipo</th>
                                                                        <th>Capacidad</th>
                                                                        <th>Características</th>
                                                                        <th>Precio</th>
                                                                        <th>Imagen</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for motocicleta  in motocicletas %}
                                                                    <tr>
                                                                        <td><a class="vehiculo" href="{% url 'vehiculo:actualizar' vehiculo.pk %}"> {{ motocicleta.numero_serie }}</a></td>
                                                                        <td>{{ motocicleta.modelo }}</td>
                                                                        <td>{{ motocicleta.motor }}</td>
                                                                        <td>{{ motocicleta.potencia }}</td>
                                                                        <td>{{ motocicleta.tipo }}</td>
                                                                        <td>{{ motocicleta.capacidad }}</td>
                                                                        <td>{{ motocicleta.caracteristicas }}</td>
                                                                        <td>{{ motocicleta.precio }}</td>
                                                                        <td>{% if motocicleta.imagen %}
                                                                                <img src={{ motocicleta.imagen.url }} width=50 height=50 class="media-object rounded-corner"/>
                                                                            {% else %}
                                                                                <img src="{{ MEDIA_URL }}imagenes/vehiculos/imagen_no_disponible.jpg" width=50 height=50 class="media-object rounded-corner" />
                                                                            {% endif %} </td>
                                                                    </tr >
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>