{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}

       <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
        <!-- Para gestionar Fechas -->
    <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker.css'%}" rel="stylesheet" />
    <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css'%}" rel="stylesheet" />
    <!-- fin Para gestionar Fechas -->
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block breadcrumb %}
Gestión de Ventas
{% endblock %}
{% block section_title %}Venta{{ section_title }}{% endblock %}
{% block section_subtitle %}Diligencie el siguiente formulario{% endblock %}
{% block content %}


    <!-- begin col-12 --><div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>Nueva Venta</h4>
            </div>
            <div class="panel-body">
                <form action="{{ request.path }}" method="POST" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data" >{% csrf_token %}
                    <div id="wizard">
                        <ol>
                            <li>
                                Cliente
                                <small>Seleccione el Cliente</small>
                            </li>
                            <li>
                                Vehículo
                                <small>Seleccione el Vehículo</small>
                            </li>
                            <li>
                                Información Adicional
                                <small></small>
                            </li>
                        </ol>
                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <div class="row">
                                    <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                            <th>Identificación</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Ciudad</th>
                                            <th>Departamento</th>
                                            <th>Teléfono</th>
                                            <th>Celular</th>
                                            <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% if lista_clientes %}
                                            {% for cliente  in lista_clientes %}
                                            <tr>
                                                <td><a class="clienteID" name="{{cliente.pk}}"> {{ cliente.identificacion }}</a></td>
                                                <td>{{ cliente.nombre }}</td>
                                                <td>{{ cliente.apellido }}</td>
                                                <td>{{ cliente.ciudad }}</td>
                                                <td>{{ cliente.departamento }}</td>
                                                <td>{{ cliente.telefono }}</td>
                                                <td>{{ cliente.celular }}</td>
                                                <td>{{ cliente.email }}</td>
                                            {% endfor %}
                                        {% else %}
                                        <p><h2>No hay Clientes registrados.</h2></p>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>

                                </div>
                            </fieldset>
                        </div>

                        <div class="wizard-step-2">
                            <fieldset>
                                <div class="row">

                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Precio</th>
                                                    <th>Color</th>
                                                    <th>Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for sucursal_motocicleta in sucursal_motocicletas %}
                                                <tr>

                                                    <td><a class="suc_motocicletaID" name="{{sucursal_motocicleta.pk}}"> {{ sucursal_vehiculo.vehiculo.marca }}</td>
                                                    <td>{{ sucursal_Motocicleta.motocicleta.modelo }}</td>
                                                    <td>{{ sucursal_Motocicleta.motocicleta.precio }}</td>
                                                    <td>{{ sucursal_Motocicleta.color }}</td>
                                                    <td>{{ sucursal_Motocicleta.cantidad }}</td>
                                                </tr >
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->

                        <div class="wizard-step-3">
                            <fieldset>
                                <div class="row">
                                    {% bootstrap_form form %}
                                </div>
                                 <p class="text-right m-b-0">
                                   <button type="submit" class="btn btn-sm btn-success m-r-5"><i class="fa fa-cog"></i> Guardar</button>
                                </p>
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->
                    </div>

                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
            <!-- end row -->
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<!-- Para funcionamiento de tablas -->
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>

<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<script>
    $(document).ready(function() {
        FormWizardValidation.init();
        // $("#id_empleado").attr('readonly','readonly');
        // $("#id_cliente").attr('readonly','readonly');
        // $("#id_vehiculo").attr('readonly','readonly');

        $(".clienteID").click( function (event){
            event.preventDefault();
            var clickedClienteId = $(this).attr('name');
            $("#id_cliente").val(clickedClienteId);
            $(".next").click();
        });
        $(".suc_motocicletaID").click( function (event){
            event.preventDefault();
            var clickedMotocicletaId = $(this).attr('name');
            $("#id_sucursal_motocicleta").val(clickedMotocicletaId);
            $(".next").click();
        });

    });
</script>

{% endblock %}