
{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
    <link href="{% static 'color_admin/assets/plugins/DataTables-1.9.4/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}
{% block breadcrumb %}
Gestion de Ventas
{% endblock %}
{% block section_title %}{% endblock %}
{% block section_subtitle %} {% endblock %}
{% block content %}
                <!-- begin col-12 -->
                <div class="col-md-12">


                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Ventas</h4>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Número de Factura</th>
                                            <th>Cliente</th>
                                            <th>Motocicleta</th>
                                            <th>Fecha de Venta</th>
                                            <th>Precio Venta</th>
                                            <th>Forma Pago</th> </tr>
                                    </thead>
                       {% if lista_ventas %}
                                            {% for venta  in lista_ventas %}
                                                <tr>
                                                    <td><a href="{% url 'venta:factura' venta.pk %}">{{ venta.pk }}</td>
                                                    <td>{{ venta.cliente}}</a></td>
                                                    <td>{{ venta.sucursal_motocicleta }}</td>
                                                    <td>{{ venta.fecha_venta }}</td>
                                                    <td>{{ venta.precio_venta }}</td>
                                                    <td>{{ venta.forma_pago }}</td>
                                                </tr >
                                            {% endfor %}
                                            </ul>
                                            {% else %}
                                                <p><h2>No hay Ventas registradas.</h2></p>
                                        {% endif %}
                                    </tbody>
                                             </table>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
{% endblock %}

{% block javascript %}
{{ block.super }}

    <!-- ================== BEGIN PAGE LEVEL JS TABLE ================== -->
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/inbox.demo.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

{% endblock %}
